<h2>Bienvenido.</h2>
    {{#if status}}
        <h4>Te has logueado exitosamente</h4>
        <p>Este es nuestro catálogo de productos </p>
    
    {{else}}
       <h4>Necesitas loguearte para acceder a la página</h4>
    {{/if}}